/*
Boilerplate
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  
  box-sizing: border-box;
  font-family: 'Special Elite', monospace;
  user-select: none;
}

/*
Utilities
*/

.button {
  background-color: white;
  border: none;
  display: block;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-family: monospace;
  font-size: 2rem;
  background-color: #c09060;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0,0,0,.7);
}

.button:active {
  box-shadow: 0 1px 2px rgba(0,0,0,.8);
}

/*
Title Page
*/

.title-page {
  background-image: url(./sub.jpeg);
  background-position: 50%;
  background-color: black;
  height:100vh;
}

.title {
  color: red;
  font-size: 5rem;
  text-align: center;
  padding-top: 4rem;
}

.name-entry {
    text-align: center;
    font-size: 2rem;
    margin-top: 4rem;
}

.captain-label {
  display: block;
}

.captain-name {
  margin-top: 1rem;
  font-size: 3rem;
  text-align: center;
  padding: .5rem;
  opacity: .9;
}

/*
Fleet Prep
*/

.fleet-prep,
.gameplay {
  background-color: #6a6aa8;
  height: 100%;
  min-height: 100vh;
}

.fleet-prep-heading,
.gameplay-heading {
  text-align: center;
  color: #c09060;
  font-size: 5rem;
  padding-top: 3rem;
}

.fleet-prep-instructions {
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
}

.grid-container {
  width: 44.8rem;
  height: 45rem;
  margin: 3rem auto;
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-evenly;
  align-items: center;
}

.square {
  background-color: black;
  height: 9.5%;
  width: 9.5%;
  cursor: pointer;
  position: relative;
}

.rotate {
  
}

.gameplay-heading {
  min-width: 1100px;
}

.gameplay-main {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  align-items: center;
  min-width: 1100px;
}

.gameplay-human,
.gameplay-computer {
}

.gameplay-instructions {
  font-size: 2.5rem;
  width: 25rem;
  height: 100%;
}

.human-heading,
.computer-heading {
  font-size: 3rem;
  text-align: center;
}

.human-grid,
.computer-grid {
  width: 35rem;
  height: 35rem;
  margin: 3rem auto;
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-evenly;
  align-items: center;
}

.hit {
  display: block;
  position: absolute;
  left: -1px;
  top: -3px;
  height: 35px;
  z-index: 200;
}

.miss {
  display: block;
  position: absolute;
  left: -1px;
  top: 4px;
  height: 23px;
  filter: brightness(1.6);
}

.ship-image {
  z-index: 100;
  position: absolute;
  opacity: .8;
  pointer-events: none;
}

.carrier-horizontal-large {
  left: .2rem;
  top: -.3rem;
  height: 5.4rem;
}

.battleship-horizontal-large {
  left: .2rem;
  top: -.5rem;
  height: 5.7rem;
}

.destroyer-horizontal-large {
  left: -1.2rem;
  top: -.8rem;
  height: 5.7rem;
}

.submarine-horizontal-large {
  left: 0rem;
  top: .2rem;
  height: 4.2rem;
}

.patrol-boat-horizontal-large {
  left: -1.2rem;
  top: -.2rem;
  height: 5.4rem;
}

.carrier-horizontal-small {
  left: .8rem;
  top: 0rem;
  height: 3.8rem;
}

.battleship-horizontal-small {
  left: .2rem;
  top: -.5rem;
  height: 4.5rem;
}

.destroyer-horizontal-small {
  left: -.8rem;
  top: -.7rem;
  height: 4.4rem;
}

.submarine-horizontal-small {
  left: .1rem;
  top: .2rem;
  height: 3.3rem;
}

.patrol-boat-horizontal-small {
  left: -1.2rem;
  top: -.2rem;
  height: 4.5rem;
}

.vertical {
  transform: rotate(90deg);
}

.carrier-vertical-large {
  left: -9.7rem;
  top: 9rem;
  height: 5.4rem;
  transform: rotate(92deg);
}

.battleship-vertical-large {
  left: -7.1rem;
  top: 6.5rem;
  height: 5.7rem;
}

.destroyer-vertical-large {
  left: -5.6rem;
  top: 4rem;
  height: 5.7rem;
}

.submarine-vertical-large {
  left: -4.6rem;
  top: 4.6rem;
  height: 4.2rem;
}

.patrol-boat-vertical-large {
  left: -4.5rem;
  top: 2.5rem;
  height: 5.4rem;
}

.carrier-vertical-small {
  left: -7.2rem;
  top: 7rem;
  height: 4rem;
  transform: rotate(92deg);
}

.battleship-vertical-small {
  left: -5.7rem;
  top: 5rem;
  height: 4.5rem;
}

.destroyer-vertical-small {
  left: -4.4rem;
  top: 3rem;
  height: 4.4rem;
}

.submarine-vertical-small {
  left: -3.7rem;
  top: 3.5rem;
  height: 3.3rem;
}

.patrol-boat-vertical-small {
  left: -3.9rem;
  top: 1.8rem;
  height: 4.5rem;
}


/*
win/lose screens
*/

.win-screen {
  background-image: url(./fireworks2.jpeg);
  height: 100vh;
  background-size: cover;
  color: white;
  background-position: 0% 30%;
}

.win-message {
  font-size: 6rem;
  padding-top: 3rem;
  padding-left: 14rem;
  margin-bottom: 1rem;

}

.lose-screen {
  background-image: url(./apocalypse.jpeg);
  background-size: cover;
  height:100vh;
}

.lose-message {
  font-size: 8rem;
  color: white;
  padding-top: 3rem;
  padding-left: 14rem;
}

.play-again {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 3rem;
  display: inline-block;
  margin-top: 2rem;
  margin-left: 30rem;
}